.quakeInfoContainer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  border: 1px solid #fff;
  padding: 1rem;
  font-size: 1.25rem;
}

.header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.body {
  margin-left: 1rem;
}
